@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    transition-property: color, background-color, opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #BFD2F8;
}

::-webkit-scrollbar-thumb {
    background: #2b3b94;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3244aa;
    border-radius: 12px;
}

.slick-bars {
    display: flex !important;
    margin-top: 50px;
}

.slick-bars li {
    list-style: none;
    margin: 0 4px;
    width: 40px;
    height: 2px;
    opacity: 0.5;
    background-color: white;
}

.slick-bars li button {
    display: none;
}

.slick-bars li.slick-active {
    height: 4px;
    opacity: 1;
}

.slick-dots-large {
    display: flex !important;
    margin-bottom: -50px;
    justify-content: center;
    margin-top: 2rem;
}

.slick-dots-large li {
    list-style: none;
    margin: 0 4px;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    --tw-text-opacity: 1;
    background-color: rgb(191 210 248 / var(--tw-text-opacity));
}

.slick-dots-large li button {
    display: none;
}

.slick-dots-large li.slick-active {
    --tw-bg-opacity: 1;
    background-color: rgb(31 43 108 / var(--tw-bg-opacity));
}

nav>div>.active {
    @apply text-accent;
}